#root {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
.App {
  width: 100%;
  padding: 20px;
}

/* InputContainer*/

.InputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.InputContainer input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  margin-block: 20px;
}

.searchBtn {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease;
  background-color: rgb(83, 160, 231);
}

.searchBtn:hover {
  transform: scale(1.1);
}

/*ForecastList*/

.ForecastList {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.ForecastList li {
  border-radius: 10px;
  padding: 10px;

  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*CurrentWeather*/
.CurrentWeather {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.feelings {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .ForecastList {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .ForecastList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 426px) {
  .ForecastList {
    grid-template-columns: repeat(1, 1fr);
  }
}
